.topmenu {
    margin-left: 2rem;

    .link {
        color: white;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;

        &.link--highlighted {
            color: rgb(248, 248, 3);
        }
    }

}

.burger {

    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    cursor: pointer;


    div {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 6px 0;

    }
}

.currency-menu {
    color: #fff;
    line-height: 1.5rem;

    select {
        margin: 0.5rem;
        background-color: rgba(0, 255, 255, 0.609);
    }
}